body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("miku by Thermaltake.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding: 50px;
    padding-top: 90px;
    margin: 40px 20px;
    background-color: rgb(181, 228, 228);
    border-radius: 30px;
    color: #0d7280;
    text-align: center;
}

h2 {
    color: #333;
}

.title{
    margin-top: 400px;
    margin-bottom: 250px;
    width: 100%;
    height: 200px;
    text-align: center;
}

.title h1 {
    color: #0d7280;
    font-size: 5em;
    font-family: "Courier", monospace;
}

.galeria{
    margin: 50px;
    display: flex;
}
.galeria div{
    flex: auto;
}
.galeria img{
    max-width:400px;
    height: auto;
    border-radius: 20%;
}

.galeria h6{
    margin: 5px;
    font-size: 0.9em;
}


iframe{
    border-radius: 10px;
}

hr {
    width: 90%;
    opacity: 0.2;
    border-top: 10px dashed #0d7280;
    margin-top: 100px;
    margin-bottom: 100px;
  }